$background-color = #f9f9f9
$text-color = #F1592A
$sub-text-color = #999
$highlight-color = rgb(241,89,42)
$second-highlight-color = #25a6d9
$border-color = rgba(0,0,0,.0)
$toolbar-background-color = #F1592A
$toolbar-button-color = rgba(255,255,255,0.81)
$toolbar-text-color = #fff
$toolbar-border-color = #000
$buttonbar-color = rgba(18,114,224,0.77)
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #222
$tabbar-text-color = #999
$tabbar-highlight-text-color = #7abfff
$tabbar-border-color = rgba(0,0,0,.0)
$switch-highlight-color = #F1592A
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$alert-dialog-background-color = rgba(255, 255, 255, 0.92)
$alert-dialog-text-color = #1f1f21
$alert-dialog-button-color = rgb(241, 89, 42)
$alert-dialog-separator-color = #000
$dialog-background-color = rgba(255, 255, 255, 0.92)
$popover-background-color = white
$popover-text-color = #1f1f21
$notification-background-color = #dc5236

@import 'components'